p{
    font-style: oblique;
    font-size: 15px;
}

header{
    font-style: italic;
    font-size: 20px;
}

table{
    border: dashed 5px black;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: square;
  }